.header {
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: black;
  
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .header h1 {
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 50px;
  }
  
  .logo {
    height: 100px;
  }