.containerPlayers {
    width: 100%;
    margin: auto;
}

.filterPlayers {
    width: 100%;
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

.filterPlayers .input {
    width: 45px;
}